---
---
{% include normalize.min.css %}
@charset "utf-8";
@import "bourbon/bourbon";
@import "neat/neat";


/* ----------------------------------------
  
  GLOBAL

---------------------------------------- */
/* allows inline CSS statments for media queries */
@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}
@mixin transition {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
$color-1: #36cd62;
$color-2: #2DB453;
@mixin font-1 {
  font-family: 'Rokkitt', serif;
  font-weight: 400;
}
@mixin font-2 {
  font-weight: 500;
}
@mixin font-1-bold {
  font-family: 'Rokkitt', serif;
  font-weight: 700;
}
@mixin button {
  display: inline-block;
  padding: 20px 15px;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  background: $color-1;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  border-bottom: 4px solid $color-2;
  &:hover {
    @include transition;
    opacity: .8;
  }
}

// Omega Reset
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}
.container {
  @include outer-container;
  padding: 0 3%; 
}
body {
  font-size: 16px;
  color: #333;
  @include font-1;
  @include respond-to(768) {
    font-size: 16px;
  }
  &:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  }
}
img {
  max-width: 100%;
}
a {
  color: #333;
  &:hover {
    @include transition;
    opacity: .8;
  }
  &:focus {
    outline: none;
  }
  img {
    vertical-align: middle;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  line-height: 1.25em;
  color: #222;
}
h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}
ul,
li {
  padding: 0;
  margin: 0;
}
p {
  margin: 1% 0;
  line-height: 1.7;
  font-size: 1.1em;
}
strong {
  @include font-1-bold;
}
.btn {
  @include button;
}
hr {
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0;
  border-bottom: 0;
  border-top: 1px solid #ccc;
}


/* ----------------------------------------
  
  HEADER

---------------------------------------- */
header {
  position: relative;
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
  }
  ul {
    display: block;
    width: 60%;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 3%;
      height: 75px;
      a {
        display: inline-block;
        padding: 26px 10px 2px;
        font-size: 1.2em;
        text-decoration: none;
        border-bottom: 2px solid $color-1;
        &:hover {
          color: $color-1;
        }
      }
    }
  }
  .support-nav-link {
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: none;
    border: 2px solid #999;
    color: #999;
    padding: 10px 15px;
    &:hover {
      background: #999;
      color: #fff;
    }
    i {
      font-size: 1.2em;
      vertical-align: middle;
    }
  }
}


/* ----------------------------------------
  
  INDEX

---------------------------------------- */
.index {
  .callout-wrapper {
    padding: 3% 0 4%;
    background: url("/assets/congruent_outline.png"); 
    h1 {
      margin: 0;
      text-align: center;
      color: #fff;
    }
    .callout-asset {
      width: 60%;
      margin: 3% auto 0;
    }
  }
  .value-statement-wrapper {
    @include span-columns(12);
    margin-top: 5%;
    text-align: center;
    .value-statement {
      @include span-columns(4);
      h3 {
        margin: 2% 0 0;
      }
      i {
        font-size: 4.5em;
        vertical-align: middle;
      }
      p {
        margin-top: 3%;
        padding: 0 5%;
      }
    }
  }
  .cta {
    @include span-columns(3.5);
    @include shift(4.25);
    margin-top: 5%;
    a {
      width: 100%;
    }
  }
  .testimonial {
    margin-top: 5%;
    padding: 3% 0;
    clear: both;
    text-align: center;
    background: url("/assets/congruent_outline.png"); 
    img {
      display: block;
      width: 200px;
      margin: 0 auto;
      border-radius: 50%;
      border: 2px solid #ccc;
    }
    span {
      display: block;
      margin-top: 2%;
      color: #fff;
      font-size: .7em;
    }
    blockquote {
      @include span-columns(7.5);
      @include shift(2.25);
      margin-top: 2%;
      margin-bottom: 0;
      font-size: 1.7em;
      letter-spacing: 1px;
      color: #fff;
    }
  }
  .pricing {
    @include span-columns(12);
    margin-top: 5%;
    text-align: center;
    h2 {
      margin-top: 0;
      margin-bottom: 3%;
      font-size: 3em;
    }
    .pricing-option {
      @include span-columns(4);
      padding: 10px 10px 5px;
      border: 2px solid #ccc;
      strong {
        display: block;
        margin-top: 2%;
        margin-bottom: 3%;
        font-size: 2em;
      }
      p {
        font-size: 1.2em;
        i {
          font-size: 1.2em;
          color: $color-1;
          vertical-align: middle;
        }
      }
      .btn {
        width: 90%;
        margin: 5% 0;
        padding: 15px;
        font-size: 1.1em;
      }
    }
  }
  .faq {
    @include span-columns(12);
    margin-top: 7%;
    h2 {
      margin-bottom: 3%;
      margin-top: 0;
      font-size: 3em;
      text-align: center;
    }
    .faq-item {
      @include span-columns(6);
      margin-bottom: 2%;
      vertical-align: top;
      strong {
        font-size: 1.6em;
      }
      p {
        margin-top: 2%;
        font-size: 1.1em;
      }
    }
    .faq-item:nth-of-type(even) {
      @include omega();
    }
  }
}


/* ----------------------------------------
  
  PODCAST

---------------------------------------- */
.podcast {
  .podcast-info {
    @include span-columns(12);
    h2 {
      margin-bottom: 2%;
      text-align: center;
    }
    p {
      @include span-columns(7);
      @include shift(2.5);
      font-size: 1.3em;
      a {
        color: $color-1;
      }
    }
  }
}


/* ----------------------------------------
  
  FOOTER

---------------------------------------- */
footer {
  margin-top: 10%;
  padding: 2% 0 3%;
  text-align: center;
  background: url("/assets/congruent_outline.png");
  nav {
    @include span-columns(12);
    margin-bottom: 7%;
    ul {
      li {
        display: inline-block;
        margin: 0 3%;
        a {
          display: inline-block;
          padding: 10px 10px 2px;
          font-size: 1.2em;
          text-decoration: none;
          border-bottom: 2px solid $color-1;
          color: #fff;
          &:hover {
            color: $color-1;
          }
        }
      }
    }
  }
  .copyright {
    color: #fff;
    a {
      color: #fff;
    }
  }
}


/* ----------------------------------------
  
  CONTACT

---------------------------------------- */
.contact {
  margin-top: 3%;
  h4 {
    margin-bottom: 1%;
    text-align: center;
    a {
      color: $color-1;
    }
  }
}

/* ----------------------------------------
  
  WUFOO

---------------------------------------- */
.wufoo {
  @include span-columns(12);
  margin-top: 3%;
  padding: 3%;
  border: 2px solid $color-1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  @include respond-to(768) {
    @include span-columns(6);
    @include shift(3);
  }
  span {
    color: red;
    font-size: 1.3em;
  }
  label {
    display: block;
    margin-bottom: 2%;
    font-size: 1.1em;
    font-weight: 700;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    @include font-1;
    width: 100%;
    margin-bottom: 7%;
    padding: 10px;
    font-size: 1.1em;
    border: 2px solid #ccc;
    color: #666;
  }
  input[type="text"],
  input[type="email"] {
    height: 50px;
  }
  input[type="tel"] {
    width: 20%;
    height: 50px;
    margin-right: 5%;
    text-align: center;
  }
  select {
    height: 50px;
  }
  textarea {
    height: 200px;
    font-size: 1em;
  }
  input[type="submit"] {
    @include button;
    width: 100%;
  }
  .hide {
    display: none;
  }
}