<footer>

  <div class="container">
    <nav>
      <ul>
        <li><a href="/">What is Leafer?</a></li>
        <li><a href="/podcast">Podcast</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="mailto:leafer@320ny.com"><i class="fa fa-envelope"></i> &nbsp;leafer@320ny.com</a></li>
      </ul>
    </nav>
  </div><!-- end container -->

  <aside class="copyright">Copyright &copy; SwanLogic LLC {{ site.time | date: "%Y" }} | All Rights Reserved. <a href="https://320ny.com/" target="_blank">Crafted by 320NY</a></aside>
</footer>