<header>
  <a href="/" class="logo"><img src="{{ site.baseurl}}/assets/logo.png"></a>
  <ul>
    <li {% if page.url == '/' %} class="active"{% endif %}><a href="/">How It Works</a></li>
    <li{% if page.url == '/podcast/' %} class="active"{% endif %}><a href="{{ site.baseurl}}/podcast">Podcast</a></li>
    <li class="touch-only"><a href="/contact">Contact</a></li>
  </ul>
  <a class="support-nav-link" href="{{ site.baseurl}}/contact"><i class="fa fa-comments"></i> &nbsp;Contact Us</a>
</header>